@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: beige;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}


.container{

    text-align: center;

}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    column-gap: 100px;
}

.progress-container::before{
    content: '';
    background-color: #9DB2BF;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 3px;
    width: 100%;
    z-index: -1;

}

.progress{
    background-color: #0079FF;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;

}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #9DB2BF;
    transition: .4s ease;

}


.circle.active{

    border-color:#0079FF;
}

.btn{
    background-color: #0079FF;
    color: #fff;
    border: 0;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:disabled{

    background-color: #999;
    cursor: not-allowed;
}
